.App {
  padding-left: 1em;
  padding-right: 1em;
}

.App,
.App-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.App-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.App-header,
.App-footer {
  text-align: center;
}
